# ASSIGNMENT-2

## Ans-2

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [6]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [8]:
search_job.send_keys("Data Scientist")

In [9]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [10]:
search_locn.send_keys("Banglore")

In [13]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [15]:
search_btn.click()

In [16]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="6e07cbbe-6c4a-4a86-b7d5-87a7b583c10c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="db2248d2-f3c3-4a88-a905-5bcba2fa3789")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="434ec3fe-6d9e-4395-966c-8db6c52dfd10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="40b9cf79-8659-4ba5-b4b5-b604d15c4ccf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="442f32c2-2d4d-4c80-8cf1-ee8e832da8d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="1f23e552-6de2-4a90-a0a1-a3163e994975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="67ee529e-2a3e-4b86-8f5b-f28d803fd896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="c5a759f9-5f33-4415-8c41-0367c15b1a83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="90178960-8cc2-4f62-ba30-2f6b29d6a423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="a013590f-e1ad-441b-b300-55ee6a64aed6")>]

In [20]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist',
 'Data Scientist',
 'Urgent Requirement - Data Scientist For a leading US Based MNC',
 'Lead Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Sr. Product Data Scientist',
 'Data Scientist',
 'Associate Solution Architect (Data Scientist)',
 'Software Principal Engineer - Data Scientist']

In [22]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="60fbf6e4-d212-4ebb-a0fa-5ba42c973460")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="231f5227-de12-4f12-a279-d60ecceaaeb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="d02c19ee-b7ba-4a67-b2a5-c55758b615fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="4e1edc9b-70cb-49ad-92c0-53ce3ceb990d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="17facb35-e6be-409a-a634-91d8ca4d7938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="0da8251f-1de8-4da3-8eb0-d5a1dc46a85b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="c38197ff-c9b1-40ad-9bf8-23c924a8f309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="d6fe9df1-4131-482a-9196-417c3a86420f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="397fbaa1-79f1-425b-857a-34846a9caaf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4064eba7907d82e967919ce57bbbf078", element="ef446fae-bf21-4e5c-987e-52fab99d1e0d")>]

In [25]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names[:10]

['NTT Data',
 'Titan',
 'Visa',
 'BLJ TECH GEEKS',
 'TransOrg Solutions Services (P) Ltd.',
 'IBM',
 'Uber',
 'Wsp Consultants',
 'Apisero',
 'Dell']

In [31]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [33]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
experience[:10]

['0-0 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '8-13 Yrs']

In [39]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [40]:
location=[]
for i in locn_tags:
    location.append(i.text)
    
location[:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [41]:
len(job_titles),len(company_names), len(experience),len(location)

(20, 20, 20, 20)

In [42]:
jobs= pd.DataFrame()
jobs['Job Title']=job_titles[:10]
jobs['Company']=company_names[:10]
jobs['Experience']=experience[:10]
jobs['Location']=location[:10]
jobs

,Job Title,Company,Experience,Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Junior Data Scientist,Titan,1-5 Yrs,Bangalore/Bengaluru
2,Data Scientist,Visa,3-7 Yrs,Bangalore/Bengaluru
3,Urgent Requirement - Data Scientist For a lead...,BLJ TECH GEEKS,5-10 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
4,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,4-9 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
5,Cognitive/AI Senior Data Scientist,IBM,4-8 Yrs,Bangalore/Bengaluru
6,Sr. Product Data Scientist,Uber,2-7 Yrs,Bangalore/Bengaluru
7,Data Scientist,Wsp Consultants,3-8 Yrs,"Noida, Bangalore/Bengaluru"
8,Associate Solution Architect (Data Scientist),Apisero,7-12 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
9,Software Principal Engineer - Data Scientist,Dell,8-13 Yrs,Bangalore/Bengaluru

In [43]:
jobs.to_csv("Data Scientist_Naukri.com.csv")

In [44]:
driver.close()