# ASSIGNMENT-2

## Ans-3

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [6]:
search_job.send_keys("Data Scientist")

In [14]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [15]:
search_locn.send_keys("Delhi/NCR")

In [16]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [17]:
search_btn.click()

In [18]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="a931fba8-5d04-48ed-81e9-3b70db079ebf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="3a01a882-6cd6-4ad6-8189-a9b57b8a5808")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="07b658d0-f6e7-4ad0-8b17-788202da0018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="b57a1e67-14d4-4ce7-bea7-bfb6f66ef13c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="eeca085d-d0df-4554-a6af-e59ffddac155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="3057e3b5-a900-4948-ab53-08bed283648f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="91862f58-eae1-4a1e-abdd-de6c7732f294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="291abb4c-f597-4d10-8096-1f0a9ac8aa0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="ce193fe7-93c3-4690-9b5f-89d24b270f6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="dbdfe887-e5c6-4ee9-999d-208c3565aba3")>]

In [20]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Hiring For Data Scientist',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Lead Data Scientist',
 'Data Scientist',
 'Open Project | IT Consulting | Data Scientist',
 'Data Scientist (freelance)',
 'Data Scientist']

In [21]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="b8fc9042-4966-41b1-81a7-690d7b797167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="6bfa64eb-6bca-44fb-a8df-45b70e8ad277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="1ea55c0e-4fc3-4548-904c-f7d028dbc13e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="7f6bcee3-8f8b-4047-85ad-2592d1fa910f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="08ca7e0a-b971-4cb9-9eaa-a9565ddf2785")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="e4a1eb2f-9f35-4b57-b01c-5917e003b907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="9dafd2a2-5dda-4fc7-a00c-978ec33fb5b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="80558220-7d50-438e-8d4c-89037c1446d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="1cb4f1b9-bc86-4fba-990b-2514ee98c730")>,
 <selenium.webdriver.remote.webelement.WebElement (session="234d6761c3d50310678764f5c04ce9c4", element="461da1f3-b5a4-45c4-bce1-a62cd90ccae7")>]

In [22]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
    
company_names[:10]

['NTT Data',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Lumiq.ai',
 'Sejal Consulting Hub',
 'Indihire HR Consultants Private Limited',
 'Optum',
 'Virtuoso Staffing Solutions Pvt Ltd',
 '2Coms',
 'CHANGE LEADERS CONSULTING']

In [23]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [24]:
experience=[]
for i in exp_tags:
    experience.append(i.text)
    
experience[:10]

['0-0 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-8 Yrs']

In [25]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [26]:
location=[]
for i in locn_tags:
    location.append(i.text)
    
location[:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Noida',
 'Noida, Pune, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR\n(WFH during Covid)',
 'Noida, Gurgaon/Gurugram',
 'Noida, New Delhi, Bangalore Rural, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'New Delhi, Delhi',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)']

In [29]:
len(job_titles),len(company_names),len(experience),len(location)

(20, 20, 20, 20)

In [31]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles[:10]
jobs['Company Name']=company_names[:10]
jobs['Experience']=experience[:10]
jobs['Location']=location[:10]
jobs

,Job Title,Company Name,Experience,Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
2,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
3,Hiring For Data Scientist,Lumiq.ai,2-7 Yrs,"Noida, Pune, Mumbai (All Areas)"
4,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
5,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
6,Data Scientist,Optum,2-6 Yrs,"Noida, Gurgaon/Gurugram"
7,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,5-10 Yrs,"Noida, New Delhi, Bangalore Rural, Bangalore/B..."
8,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
9,Data Scientist,CHANGE LEADERS CONSULTING,3-8 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /..."

In [33]:
jobs.to_csv("Jobs of Data Scientist,Delhi NCR.csv")

In [34]:
driver.close()